extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img nosotros", class="img-fluid")
            .col-md-7     
                h1= pagina 
                blockquote Aliquam erat volutpat. Duis eu rutrum ligula. Nunc vel scelerisque dui. Sed vel dolor libero. Vivamus eget ligula urna. Etiam laoreet ante et lorem semper, eu pulvinar lorem malesuada. Fusce ac porta nulla.

                p Donec sed sem velit. Aenean ullamcorper hendrerit neque, quis rhoncus purus. Morbi tristique metus eget urna pellentesque ullamcorper. Nulla sit amet interdum elit, non convallis ante. Cras pharetra egestas augue. Duis sagittis fermentum mollis. Maecenas et augue sem. Ut tempus leo eget ligula dictum varius.

                p Duis vel mauris ultricies, luctus ligula nec, placerat arcu. Etiam quis sagittis erat. Etiam finibus posuere leo, vel gravida lacus pretium quis. Mauris venenatis vestibulum consectetur. Aliquam laoreet augue vitae massa dignissim rutrum. Vivamus non mi non ligula congue vehicula. Vestibulum sollicitudin erat sed leo malesuada iaculis.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icn seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Duis vel mauris ultricies, luctus ligula nec, placerat arcu. Etiam quis sagittis erat. Etiam finibus posuere leo, vel gravida lacus pretium quis.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icn destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Duis vel mauris ultricies, luctus ligula nec, placerat arcu. Etiam quis sagittis erat. Etiam finibus posuere leo, vel gravida lacus pretium quis.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icn precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p  Duis vel mauris ultricies, luctus ligula nec, placerat arcu. Etiam quis sagittis erat. Etiam finibus posuere leo, vel gravida lacus pretium quis.
